* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: auto;
}

.fa-pinterest:hover {
    color: red;
}

.fa-twitter:hover {
    color: #3bafbe;
}

.fa-google-plus:hover {
    color: blue;
}

.fa-linkedin:hover {
    color: blue;
}

.fa-rss-square:hover {
    color: orange;
}

.header-section {
    background-color: #ffffff;
}

.header-items {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.border-item {
    border-top: 5px solid #3bafbe;
}

.header-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.header-item .input-class {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    font-family: "Georgia";
    width: 217px;
    height: 32px;
    border-radius: 10px;
    background-color: #333333;
}

.header-item .search-class {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    font-family: "Georgia";
    width: 68px;
    height: 32px;
    border-radius: 10px;
    background-color: #3bafbe;
}

.navbar {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 520px;
}

.navbar-item a {
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    font-family: "Georgia";
}

.navbar-item a:hover {
    color: #3bafbe;
}

.slider-section {
    background-color: #ffffff;
}

.slider-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #d8d8d8;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* 366x205 */

.slider-item {
    height: 317px;
    position: relative;
}

.slider-item h2 {
    font-size: 42px;
    line-height: 50px;
    color: #4a4a4a;
    font-family: "Georgia";
}

.slider-item p {
    width: 497px;
    height: 64px;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    font-family: "Georgia";
}

.slider-item button {
    width: 126px;
    height: 32px;
    border-radius: 10px;
    background-color: #3bafbe;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Georgia";
    text-align: right;
}

.slider-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 68px;
    padding-bottom: 68px;
}

.rings {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100px;
}

.ring {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #3bafbe;
}

.ring:hover {
    background-color: white;
    border: 3px solid #3bafbe;
}

.info-section {
    background-color: #ffffff;
}

.info-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d8d8d8;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 55px;
}

.info-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 455px;
}

.info-item h4 {
    color: #777777;
}

.info-item p {
    color: #999999;
}

.info-image {
    width: 300px;
    height: 160px;
    background-color: #353535;
}

.shout-section {
    background-color: #ffffff;
}

.shout-items {
    width: 100%;
    border-top: 1px solid #d8d8d8;
    padding-top: 50px;
}

.shout-item {
    width: 100%;
}

.shout-item h3 {
    font-size: 22px;
    line-height: 31px;
    color: #666666;
    font-family: "Georgia";
    font-style: italic;
    text-align: center;
}

.service-section {
    background-color: #ffffff;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 90px;
    margin-bottom: 40px;
}

.service-image {
    width: 90px;
    height: 90px;
    padding: 4px;
    border: 1px solid #d8d8d8;
}

.service-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.service-info h5 {
    font-size: 13px;
    line-height: 16px;
    color: #3bafbe;
    font-family: "Georgia";
}

.service-info p {
    width: 195px;
    height: 49px;
    font-size: 12px;
    line-height: 19px;
    color: #848c92;
    font-family: "Georgia";
}

.details-section {
    background-color: #252525;
}

.details-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details-item {
    width: 225px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #252525;
}

.details-item .item {
    margin-bottom: 5px;
}

.details-item .end {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.details-item .input-class {
    font-size: 13px;
    line-height: 21px;
    color: #989898;
    font-family: "Georgia";
    width: 225px;
    height: 31px;
    border-radius: 7px;
    background-color: #2c2c2c;
}

p col {
    color: #3bafbe;
}

.details-item .submit-class {
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Georgia";
    width: 80px;
    height: 31px;
    border-radius: 7px;
    background-color: #3bafbe;
}

.details-item .main-detail {
    margin-bottom: 25px;
}

.details-items h2 {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Georgia";
}

.details-item p {
    font-size: 12px;
    line-height: 19px;
    color: #999999;
    font-family: "Georgia";
}

.details-item p h6 {
    color: #3bafbe;
}

.details-item h4 {
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    font-family: "Georgia";
}

.details-item a {
    font-size: 12px;
    line-height: 14px;
    color: #3bafbe;
    font-family: "Georgia";
}

.details-item .line {
    width: 225px;
    height: 1px;
    background-color: #2c2c2c;
}

.footer-section {
    background-color: #1a1a1a;
}

.footer-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-item {
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-items p {
    color: #999999;
}

.info-item button {
    width: 106px;
    height: 32px;
    border-radius: 10px;
    background-color: #3bafbe;
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
    font-family: "Georgia";
    text-align: right;
}

.header-item ::placeholder {
    color: white;
    padding-left: 10px;
}

.details-item ::placeholder {
    padding-left: 10px;
}